x220/
t440p/
w530/
ws/
emacs/prelude/*
emacs/scimax/*
emacs/taemax/*
emacs/ianpan/*
!emacs/taemax/config.org
!emacs/taemax/custom.el
!emacs/taemax/init.el
!emacs/taemax/maple/
!emacs/taemax/sensible-defaults.el
# except for the following:
!emacs/ihsec.sh
!emacs/README.org
!emacs/Makefile
!emacs/taemax/config.org
!emacs/taemax/init.el
!emacs/taemax/sensible-defaults.el
tmux/
latex/
overview.org
