#!/bin/sh

setbg &
tkmaps &
xsetroot -cursor_name left_ptr &
sxhkd &
if [ $DESKTOP_SESSION = "dwm" ]; then
   dwmbar &
fi
unclutter &
picom -b --config $HOME/.config/picom/picom.conf &
dunst &
mpdupdate &
nm-applet &

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &


xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0 &

xautolock -time 30 -locker blurlock &
ibus-daemon -drx &
dropbox start &
volumeicon &
xfce4-power-manager &

#conky -d &
#solaar &
#redshift &
#emacs --daemon &
